-
  var header='#recent clients'
  var clientList=[
    "asset/image/clients/me3.png",
    "asset/image/clients/me4.png",
    "asset/image/clients/me2.png",
    "asset/image/clients/me2.png",
    "asset/image/clients/me2.png",
    "asset/image/clients/me2.png",
  ];

#client
.client
  .client__header=header
  .client__list
    each client in clientList
      .client__image
        img(src=client)